@font-face {
  font-family : "Raleway";
  font-style  : normal;
  font-weight : 800;
  src         : url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family : "Rubik";
  font-style  : normal;
  font-weight : 400;
  src         : url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family : "Rubik";
  font-style  : normal;
  font-weight : 700;
  src         : url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin          : 0;
  display         : flex;
  flex-direction  : column;
  min-height      : 100%;
  font-family     : "Rubik", sans-serif;
  font-size       : 18px;
  line-height     : 30px;
  background-color: #ffffff;
  color           : #444444;
}

.button {
  font-family   : "Raleway", sans-serif;
  font-weight   : 800;
  font-size     : 18px;
  line-height   : 21px;
  text-align    : center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color         : #000;
}

.link {
  font-family    : "Raleway", sans-serif;
  font-weight    : 800;
  line-height    : 21px;
  text-align     : center;
  letter-spacing : 0.2em;
  text-transform : uppercase;
  text-decoration: none;
  color          : #000;
}

.page-header {
  color     : #000000;
  background: #FFE17F;
}

.navigation {
  display  : flex;
  flex-wrap: wrap;
}

.logo-navigation {
  width: 100%;
}

.navigation-header {
  margin : 0;
  padding: 0;
}

.navigation-user {
  width: 497px;
}


.search {
  width: 517px;
}

.input-search,
.button-search {
  font-family: Rubik;
  font-size  : 16px;
  line-height: 20px;
}



.navigation-link {
  color           : #000000;
  background-color: #FFE17F;
  text-decoration : none;
  text-align      : center;
}

.navigation-list .navigation-link {
  font-family   : Raleway, sans-serif;
  line-height   : 22px;
  text-transform: uppercase;
  font-weight   : 800;
}

.page-container {
  width : 1160px;
  margin: 0 auto;
}

.products-slider-list {
  display  : flex;
  flex-wrap: wrap;
  padding  : 0;
  margin   : 0;
}

.products-slide-item-quadrocopter {
  width: 1160px;
}

.slider-image {
  float: left;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size  : 50px;
  line-height: 50px;
  color      : #000;
}

.table-data-value {
  font-size: 36px;
  color    : #000;
}

.table-data-property {
  font-size: 16px;
}

.products-link {
  line-height   : 24px;
  letter-spacing: -0.02em;
  text-align    : left;
  text-transform: none;
}

.products-list {
  margin         : 0;
  padding        : 0;
  text-align     : center;
  display        : flex;
  justify-content: space-between;
}

.products-item {
  width: 160px;
}

.glasses {
  background-image : url("../images/catalog/glasses.svg");
  background-repeat: no-repeat;
}

.monopod {
  background-image : url("../images/catalog/monopod.svg");
  background-repeat: no-repeat;
}

.camera {
  background-image : url("../images/catalog/camera.svg");
  background-repeat: no-repeat;
}

.bracelet {
  background-image : url("../images/catalog/bracelet.svg");
  background-repeat: no-repeat;
}

.watch {
  background-image : url("../images/catalog/watch.svg");
  background-repeat: no-repeat;
}

.quadrocopter {
  background-image : url("../images/catalog/quadrocopter.svg");
  background-repeat: no-repeat;
}

.wrapper-advantages {
  display: flex;

}

.advantages-list {
  width          : 280px;
  height         : 190px;
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  padding        : 0;
  margin         : 0;
}

.advantage-description-term,
.advantage-description-description {
  width: 452px;
}


.button-delivery {
  font-size  : 20px;
  line-height: 23px;
}

.index-columns {
  display        : flex;
  justify-content: space-between;
}

.about-us {
  width: 50%;
}

.about-us-link {
  font-weight    : bold;
  line-height    : 20px;
  letter-spacing : -0.02em;
  text-decoration: none;
  color          : #000;
}

.contacts {
  width       : 50%;
  padding-left: 70px;
}

.contacts-subtitle {
  font-weight: bold;
  font-size  : 24px;
}

.contacts-phone {
  color: #444444;
}

.newsletter-wrapper {
  display        : flex;
  flex-wrap      : wrap;
  justify-content: space-between;
}

.newsletter-title {
  width : 348px;
  margin: 0;
}

.newsletter-text {
  width: 527px;
}

.newsletter-form {
  width: 810px;
}

.page-footer {
  background-color: #444444;
  color           : #FFFFFF;
}

.page-footer-wrapper {
  display    : flex;
  flex-wrap  : wrap;
  width      : 1160px;
  margin     : 0 auto;
  align-items: center;
}

.footer-contacts {
  width       : 239px;
  margin-right: 112px;
}

.footer-contacts-address-text {
  font-size  : 16px;
  line-height: 19px;
}

.footer-navigation {
  width       : 444px;
  margin-right: 140px;
  display     : flex;
}

.footer-navigation-list {
  width          : 444px;
  display        : flex;
  justify-content: center;
  padding        : 0;
  margin         : 0;
  list-style     : none;
  gap            : 35px;
}

.footer-navigation-link {
  color: #FFFFFF;
}

.footer-phone-number {
  width      : 179px;
  margin-left: auto;
}

.contacts-address,
.footer-phone-address,
.footer-contacts-address {
  font-style: normal;
}



.footer-phone-link {
  font-size  : 16px;
  line-height: 20px;
  color      : #FFFFFF;
}

.footer-social {
  width: 100%;
}

.footer-social-list {
  margin         : 0 auto;
  display        : flex;
  gap            : 40px;
  justify-content: center;
}

.footer-social-button {
  color          : #FFFFFF;
  text-decoration: none;
}

.wrapper-htmlacademy-link {
  width          : 100%;
  display        : flex;
  justify-content: end;
}

.breadcrumbs {
  display   : flex;
  flex-wrap : wrap;
  width     : 430px;
  gap       : 36px;
  list-style: none;
  padding   : 0;
  margin    : 0;
}

.breadcrumbs-link {
  font-size      : 16px;
  line-height    : 19px;
  color          : #000;
  text-decoration: none;
}

.wrapper-catalog-products {
  display: flex;

}

.catalog-filter {
  width       : 200px;
  margin-right: 60px;

}

.catalog-right-column {
  width: 840px;
}

.filter {
  font-family   : "Raleway", sans-serif;
  font-weight   : 800;
  font-size     : 16px;
  line-height   : 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-title {
  font-weight   : bold;
  line-height   : 20px;
  letter-spacing: -0.02em;
}

.catalog-filter-list {
  font-size  : 16px;
  line-height: 19px;
}

.select-dropdown {
  font-family: "Rubik";
  font-style : normal;
  font-weight: normal;
  font-size  : 18px;
  line-height: 30px;
  color      : #000;
}

.product-card-container {
  background-color: #ffffff;
}

.product-card-title {
  font-weight   : bold;
  font-size     : 18px;
  line-height   : 20px;
  letter-spacing: -0.02em;
  text-align    : left;
}

.product-card-price {
  line-height: 21px;
  text-align : right;
}



.pagination-show-more {
  font-size  : 16px;
  line-height: 19px;
}

.pagination-link {
  font-size      : 16px;
  line-height    : 20px;
  text-align     : center;
  color          : #444444;
  text-decoration: none;
}

.main-container {
  flex-grow: 1;
}

.bg-grey {
  background-color: #F0F0F0;
  color           : #000;
}
